# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.db
*.opendb
*.db-shm
*.filters
*.user
*.vcxproj
*.db-wal
*.ipch
*.suo
*.log
Listat_Junior_App/x64/Debug/Listat_J.C25B2CCF.tlog/unsuccessfulbuild
*.lastbuildstate
*.obj
*.pch
*.tlog
*.pdb
*.obj
*.idb
*.exe
*.ilk
.lib
*.exp
*.dll
*.lib
